
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html >

  <head>

    

    <title></title>

    <style type="text/css" rel="stylesheet" media="all">
    .body{
	width: 100%;
	
	
	}
	.header{
	 background-color: rgba(26, 74, 96, 0.8999999761581421);
	 height:35px;
	}
	.link{
	margin-top:60px;
	color: rgba(26, 74, 96, 0.8999999761581421);
	}
	.mainbody{
	margin-left:20px;
	}
    </style>

  </head>

  <body  class="body" >
<div class="header">

</div>
   <div class="mainbody">
	<h3>Password Reset</h3>
<p style="margin-top:40px" >we have recieved a request reset the password of your clavrit online customer account. To reset your password please click the link below.</P>

<br>
<a style="margin-top:100px" class="link" href="http://3.111.79.166/#/resetPassword/username"> Reset your password </a>
  
<p style="margin-top:30px"> if you have not requested a password reset, please ignore this email.</P>

<h4>Clavrit<h4>
</div> 
  </body>

</html>